videos/*
models/*
*.pdf

.env

**/__pycache__/*

.ipynb_checkpoints/*
scripts/.ipynb_checkpoints/*
scripts/config/.ipynb_checkpoints/*

# Pycache
*/__pycache__/*
*.keras
*.h5

# Ignore database trash
db_data/*

# Ignore venv (virtual environment)
**/venv/*
**/.venv/*

node_modules

*cookies.txt
runs/*
*.pt
*.avi
segmentplot*
*.stats.json