MYSQLDB_DATABASE = judge_db
MYSQLDB_DATABASE_TEST = judge_test
MYSQLDB_ROOT_PASSWORD = root
MYSQLDB_LOCAL_PORT = 3377
MYSQLDB_DOCKER_PORT = 3306

STORAGE_DIR_VIDEOS = /media/miked/Elements/Judge/videos
STORAGE_DIR_GENERATED_DATA = /media/miked/Elements/Judge/results
TESTDIR = /tmp/judge

DATABASE_URL = mysql+pymysql://root:${MYSQLDB_ROOT_PASSWORD}@127.0.01:${MYSQLDB_LOCAL_PORT}/${MYSQLDB_DATABASE}
DATABASE_URL_TEST =  mysql+pymysql://root:${MYSQLDB_ROOT_PASSWORD}@127.0.01:${MYSQLDB_LOCAL_PORT}/${MYSQLDB_DATABASE_TEST}

SUPPORTED_VIDEO_FORMATS = ['.mov', '.mp4', '.MP4']
SUPPORTED_IMAGE_FORMATS = ['.jpeg', '.png']
