MYSQLDB_DATABASE = judge_db
MYSQLDB_DATABASE_TEST = judge_test
MYSQLDB_ROOT_PASSWORD = root
MYSQLDB_LOCAL_PORT = 3377
MYSQLDB_DOCKER_PORT = 3306
HOST = 127.0.0.1

# The directory where all videos are stored. They can be subcategorized in folders.
STORAGE_DIR_VIDEOS = /media/miked/Elements/Judge/videos

# The directory where all the app's generated data will come.
STORAGE_DIR_GENERATED_DATA = /media/miked/Elements/Judge/results

# Directory for test purposes
TESTDIR = /tmp/judge

# Connection strings for connecting with the database
# They are based on the input data above, keep off.
DATABASE_URL = mysql+pymysql://root:${MYSQLDB_ROOT_PASSWORD}@{HOST}:${MYSQLDB_LOCAL_PORT}/${MYSQLDB_DATABASE}
DATABASE_URL_TEST =  mysql+pymysql://root:${MYSQLDB_ROOT_PASSWORD}@{HOST}:${MYSQLDB_LOCAL_PORT}/${MYSQLDB_DATABASE_TEST}

# Video data you want to support.
SUPPORTED_VIDEO_FORMATS = ['.mov', '.mp4', '.MP4']
SUPPORTED_IMAGE_FORMATS = ['.jpeg', '.png']