backports.tarfile==1.2.0
colorama
cryptography==44.0.0
diffusers==0.33.1
gradio==5.27.0
inflect==7.3.1
invisible-watermark==0.2.0
ipykernel==6.29.5
jaraco-functools==4.2.1
jaraco.collections==5.1.0
moviepy==2.1.2
nbconvert==7.16.5
nvidia-cuda-nvcc-cu12==12.5.82
numpy
opencv-python
pandas
peft==0.15.2
pip-chill==1.0.3
pymysql==1.1.1
pyodbc==5.2.0
python-dotenv==1.1.1
scikit-image==0.25.2
scikit-learn==1.6.0
sentencepiece==0.2.0
sqlalchemy==2.0.36
tensorflow==2.19.0
# torchaudio pre-installed in pytorch/pytorch base image (2.6.0)
tinycss2==1.4.0
tomli==2.0.1
torchmetrics
ultralytics==8.3.78
xformers==0.0.29.post3

