@import './base.css';
@import 'tailwindcss';

:root {
  --p-card-body-padding: 0.25rem, 1.25rem
}

#app {
  font-weight: normal;
}

main {
  margin: 0.8rem;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.p-card {
  width: fit-content;
}

.p-card-header {
  font-weight: 500;
  margin: 1rem 1rem 0 1rem;
  border-bottom: 1px solid black;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    display: flex;
    /* grid-template-columns: 1fr 3fr; */
  }

  main {
    margin: 0rem 1.5rem;
  }
}
