APScheduler
colorama
Flask
flask-cors
flask-migrate
flask-restful
flask-session
flask-sqlalchemy
flask-talisman
mysqlclient
numpy
opencv-python-headless
parameterized # required by tests
pandas
pymysql
python-dotenv
pyyaml

